# Eclipse
.classpath
.project
.settings/
# Intellij
.idea/
*.iml
*.iws
# Mac
.DS_Store
# Maven
log/
target/
# Mongo
src/test/resources/config.properties
# test files
resource.txt
responseBody.txt
statusCode.txt 